body {
  background-color: red;
    background-image:
      linear-gradient(
        to right,
        #fffdc2,
        #fffdc2 15%,
        #d7f0a2 15%,
        #d7f0a2 85%,
        #fffdc2 85%
      );
}

#cameraBtn{
  position: fixed;
  bottom: 0;
  right:0;
  border-radius: 40px;
  z-index:99999;
  }
,
#myImage
{
  margin-top: 100px;
}
#addStoreName{
border-radius: 60px;
position: absolute;
   bottom: 0;
   right:0;
}
#box {
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
#dateTime2{
  position: absolute;

     right:0;
}
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
    margin-top: 10px;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  border-style: dotted;
    border-width: 2px;
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #fffdc2;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: #888;
  color: #fff;

}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
